*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
}

.bg-img {
    background-image: url("./imgBonJovi/Bon_Jovi2.jpg");
    filter: blur(1px);
    -webkit-filter: blur(1px);
    height: 100vh; 
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

a{
    text-decoration: none;
    color: gold;
}

p{
    font-size: 18px;
}

h1{
    text-align: center;
    color: gold;
}

h2{
    color: gold;
}

#bandimage{
    margin-right: 200px;
    margin-left: 200px;  
}

#int{
    background: black;
    padding: 20px;
}

#imgBamb {
    margin-top: 4.75%;
}

#index{
    margin-left: 10px;
    position: sticky;
    top: 70px;
    z-index: 1;
    width: 170px;
    height: 200px;
    padding: 10px;
    float: left;
    margin-top: 4.7%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid gold;
}

.paragrafi {
    margin: 70px 220px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid gold;
    padding: 10px;
}

#logo {
    margin-top: 2.2%;
}

#moglie{
    float: left;
    margin-left: 10px;
}


.right{
    margin-right: 10px;
    float: right;
}

footer{
    position: fixed;
    bottom: 10px;
    z-index: 1;
    background: black;
}